/* 
 * TODO: have to split styles according to container components 
 * and do some BEM
 * .. but too lazy
*/

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

h2 {
  font-size: 2em;
  margin-bottom: .25em;
}

p {
  margin-top: 1em;
}

nav,
article {
  margin: 1em 0;
  padding: 1em;
  border-radius: .25em;
  max-width: 40em;
  box-shadow: 0 .2em 1.5em rgba(0, 0, 0, .35);
}

nav {
  border: 1px solid #6E33A2;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236e33a2' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

hr {
  border-top-color: #6E33A2;
  width: calc(100% + 2em);
  margin: 1em 0 1em -1em;
}

label {
  display: block;
  font-weight: 500;
}

label:not(:last-of-type) {
  margin-bottom: .5em;
}

input {
  border-radius: 0.5em;
}

article {
  color: white;
  background: linear-gradient(to right, #363795, #005C97);
  position: relative;
}

button {
  position: absolute;
  top: .5em;
  right: .5em;
}